.new-project
  %button.btn.btn-info{ :"ng-hide" => "addingProject", :"ng-click" => "addingProject = true; focus = true" }
    Add project
  %form{ :"ng-show" => "addingProject",
         :"ng-submit" => "add(name); name=''; addingProject = false",
         :name => 'form',
         :novalidate => true,
         :id => "add-project-form"}
    .form-group{ :"ng-class" => "{ 'has-error': form.name.$touched && form.name.$invalid }" }
      .input-group
        %input.form-control{ :"ng-model" => "name",
                             :placeholder => "Type project name",
                             :type => "text",
                             :required => true,
                             :name => "name",
                             :focus => "focus" }
        %span.input-group-btn
          %button.btn.btn-success.confirmation-btn{ :type => "submit",
                                                    :"ng-disabled" => "form.$invalid",
                                                    :id => "add-project-save-button" } Save
          %button.btn.btn-default.confirmation-btn{ :"ng-click" => "addingProject = false;", :type => "button" } Cancel
