
%div{ :"ng-hide" => "editing", :"ng-mouseenter" => "showButtons = true", :"ng-mouseleave" => "showButtons = false" }
  %div{ :"ng-class" => "{ 'task': !task.done, 'task done': task.done }"}

    %input.task-check{ :"ng-model" => "task.done", :"ng-change" => "update(task); changeProjectDone()", :type => "checkbox" }

    .wrap-name
      %span.name{ :"ng-click" => "editName = task.name; editing = true" }
        {{ showTask(task)}}

    %span.input-group-btn{ :"ng-show" => "showButtons" }
      %button.btn.btn-success.panel-btn-mini{ :"ng-click" => "task.showMessages = !task.showMessages; task.openingTask = !task.openingTask"}
        %span.glyphicon.glyphicon-envelope
        {{showMsgCount(task)}}
      %button.btn.btn-danger.panel-btn-mini{ :type => "button",
          :"ng-click" => "editingDeadline = !editingDeadline; editDeadline = getDate(task.deadline); task.openingTask = !task.openingTask" }
        %span.glyphicon.glyphicon-calendar
      %button.btn.btn-default.panel-btn-mini{ :"ng-click" => "remove(task)"}
        %span.glyphicon.glyphicon-remove


%div{ :"ng-show" => "editing" }
  %form.input-group{ :"ng-submit" => "task.name = editName; update(task); editing = false" }
    %input.form-control{ :"ng-model" => "editName", :type => "text" ,:required => true}
    %span.input-group-btn
      %button.btn.btn-success.panel-btn{:type => "submit"} Save
      %button.btn.btn-default.panel-btn{:"ng-click" => "editing = false", :type => "button"} Cancel

%div{ :"ng-show" => "editingDeadline" }
  %form.input-group.confirmable-form{ :"ng-submit" => "task.deadline = editDeadline; update(task, editName); editingDeadline = false; openingTask = false" }
    %input.form-control{ :type => "date",
                       :"datepicker-popup" => true,
                       :"ng-model" => "editDeadline",
                       :"close-text" => "Close",
                       :"is-open" => "openedDatePicker",
                       :"show-button-bar" => true }
    %span.input-group-btn
      %button.btn.btn-default.panel-btn-mini{ :type => "button",
          :"ng-click" => "openedDatePicker=!openedDatePicker" }
        %span.glyphicon.glyphicon-calendar
      %button.btn.btn-success.panel-btn{:type => "submit"} Save
      %button.btn.btn-default.panel-btn{:"ng-click" => "editingDeadline = false; openingTask = false", :type => "button"} Cancel
