<div class="header">
  <ul class="nav nav-pills pull-right">
    <li ng-class="{ active: isActive('/') }"><a ng-href="/">Home</a></li>
    <li ng-class="{ active: isActive('/projects') }"><a ng-href="/projects">Projects</a></li>
    <li ng-class="{ active: isActive('/sign_in') }" ng-show="!user.id"><a ng-href="/sign_in">Sign in</a></li>
    <li ng-show="user.id"><a ng-click='signOut()'>Sign out</a></li>
  </ul>
  <h3 class="text-muted">Todo List</h3>
</div>

<div class="alert alert-danger" role="alert" ng-show="error">
  {{error}}
</div>

<!-- <div class="ngView">

</div> -->
