.alert.alert-danger{"ng-show" => "error", :role => "alert"}
  {{error}}
.input-group
  %button.btn.btn-primary.btn-lg{"ng-click" => "authenticate('github')"} Sign in with github
%form{"ng-init" => "registrationForm = {}", "ng-submit" => "handleRegBtnClick()", :role => "form"}
  .form-group
    %label{:for => "email"} Email
    %input#email.form-control{:name => "email", "ng-model" => "registrationForm.email", :required => "required", :type => "email"}/
  .form-group
    %label{:for => "password"} Password
    %input#password.form-control{:name => "password", "ng-model" => "registrationForm.password", :required => "required", :type => "password"}/
  .form-group
    %label{:for => "password_confirmation"} Password confirmation
    %input#password_confirmation.form-control{:name => "password_confirmation", "ng-model" => "registrationForm.password_confirmation", :required => "required", :type => "password"}/
  %button.btn.btn-primary.btn-lg{:type => "submit"} Register
