* {
  border-radius: 0 !important;
}

.navbar-brand {
  font-weight: 700
}

.panel {
  margin-bottom: 0;
}

.panel-heading {
  padding: 0;
}

.new-project {
  margin-top: -5px;
  margin-bottom: 10px;
}

.confirmable-form {
  margin-top: 5px;
}

.project-form {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #bdc3c7;
  background-color: white;
}

.project {
  height: 34px;
  cursor: move;
}

.project .name {
  cursor: text;
}

.project.done {
  text-decoration: line-through;
  font-weight: normal;
}

.project .name {
  margin-top: 5px;
  margin-left: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
}

.btn {
  height: 34px;
  font-weight: normal;
}

.panel-btn {
  width: 90px;
}

.panel-btn-mini {
  width: 45px;
}

.wrap-task-form {
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.task-form {
  padding: 5px 5px 0 5px;
}

.task {
  height: 34px;
  display: flex;
  cursor: move;
}

.task input {
  margin-top: 10px;
}

.task .wrap-name {
  width: 100%;
  margin-top: 6px;
}

.task .name {
  padding-left: 10px;
  cursor: text;
}


.task .input-group-btn {
  width: 0;
}

.task.done .name {
  text-decoration: line-through;
}

.task:hover {
  background-color: #ecf0f1;
}

.open-task {
  border: 1px solid #bdc3c7;
  padding: 4px 4px 0 4px;
}
