%form.input-group{ :"ng-submit" => "add()"}
  %input.form-control{:"ng-model" => "newName",
                      :placeholder => "Add project",
                      :type => "text",
                      :required => true }
  %span.input-group-btn
    %button.btn.btn-default{:type => "submit"}
      %span.glyphicon.glyphicon-plus
