
%div{ :"ng-hide" => "editing", :"ng-mouseenter" => "showButtons = true", :"ng-mouseleave" => "showButtons = false" }
  %div{ :"ng-class" => "{ 'task': !task.done, 'task done': task.done }"}
    %input.task-check{ :"ng-model" => "task.done", :"ng-change" => "update(task); changeProjectDone()", :type => "checkbox" }
    .name{ :"ng-click" => "editName = task.name; editing = true" }
      {{ task.name }}
    %span.input-group-btn{ :"ng-show" => "showButtons" }
      %button.btn.btn-success.panel-btn{ :"ng-click" => ""} Add message
      %button.btn.btn-info.panel-btn{ :"ng-click" => ""} Shedule
      %button.btn.btn-default.panel-btn{ :"ng-click" => "remove(task)"} Delete

%div{ :"ng-show" => "editing" }
  %form{ :"ng-submit" => "task.name = editName; update(task, editName); editing = false" }
    %input.form-control{ :"ng-model" => "editName", :type => "text" ,:required => true}
    %button.btn.btn-success.panel-btn{:type => "submit"} Save
    %button.btn.btn-default.panel-btn{:"ng-click" => "editing = false", :type => "button"} Cansel
