

%div{ :"ng-controller" => "ProjectsController" }
  %div{ :"ng-include" => "'assets/_add_project.html'" }

  %ul.list-unstyled{ :"ui-sortable" => "sortableOptions", :"ng-model" => "projects" }
    %li.project-form{ :"id" => "{{project.id}}", :"ng-repeat" => "project in projects" }
      %div{ :"ng-include" => "'assets/_project.html'" }

      %div{ :"ng-controller" => "TasksController" }
        %div{ :"ng-include" => "'assets/_add_task.html'" }

        %ul.list-unstyled{ :"ui-sortable" => "sortableOptions", :"ng-model" => "tasks" }
          %li.wrap-task-form.animate-enter{ :"ng-repeat" => "task in tasks" }
            %div{ :"ng-include" => "'assets/_task.html'" }

  .debug
    Projects:
    %p.text-info
      {{ projects | json}}
